body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
    font-size: 34px;
    color: rgb(5, 5, 6);
    font-family: 'Times New Roman';
}

#uploadForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(235, 232, 232, 0.1);
}

.btnn {
    background-color: #1e5562;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.btnn:hover {
    background-color: #e4eceb;
}